.profile_team {
    font-size: 0.8rem
}

.profile_name {
    font-size: 2rem
}

.profile_lastseen {
    font-size: 0.8rem;
    color: #aaaaaa
}

.profile_row {
    margin-bottom: 0.4rem
}

.profile_row:last-of-type {
    margin-bottom: 0
}